<header>
  <div class="wrapper">
    <h1 class="logo">
      <span class="top-row">Hammaslääkäri</span
      ><span class="bottom-row">Pia Repka</span>
    </h1>

    <nav>
      <ul>
        <li class="{% if page == 'index' %}active{% endif %}"><a href="/">Etusivu</a></li>
        <li class="{% if page == 'me' %}active{% endif %}"><a href="/me">Keitä Olemme</a></li>
        <li class="{% if page == 'palvelut' %}active{% endif %}"><a href="/palvelut">Palvelut</a></li>
        <li class="{% if page == 'hinnasto' %}active{% endif %}"><a href="/hinnasto">Hinnasto</a></li>
        <li class="{% if page == 'yhteystiedot' %}active{% endif %}"><a href="/yhteystiedot">Yhteystiedot</a></li>
      </ul>
    </nav>
  </div>
</header>