<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-default border-bottom">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="small">Hammaslääkäri</span><br>Pia Repka
    </a>

    <button 
      class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarToggler" aria-controls="navbarToggler" 
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">

      <ul class="navbar-nav ms-auto">

        <li><a class="nav-item nav-link{% if page == 'index' %} active{% endif %}" href="/">Etusivu</a>
        <li><a class="nav-item nav-link{% if page == 'me' %} active{% endif %}" href="/me">Keitä Olemme</a>
        <li><a class="nav-item nav-link{% if page == 'palvelut' %} active{% endif %}" href="/palvelut">Palvelut</a>
        <li><a class="nav-item nav-link{% if page == 'hinnasto' %} active{% endif %}" href="/hinnasto">Hinnasto</a>
        <li><a class="nav-item nav-link{% if page == 'yhtystiedot' %} active{% endif %}" href="/yhteystiedot">Yhteystiedot</a>
      </ul>
    </div>

  </div>


</nav>